body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #333;
    text-shadow: 0 0 4px gray;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#qSlider {
    width: 100%;
    margin: 20px 0;
    padding: 5px;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

.values {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.values p {
    margin: 6px 0;
}

.terms-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.term {
    height: 26px;
    background-color: #4CAF50;
    color: white;
    padding-left: 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
}
