body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}
.container{
    background: gray;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
}
h1{
    text-align: center;
}
.values{
    margin-top: 20px;
}
.term{
    padding: 4px;
}
.positive{color:green;}
.negative{color:red;}
.neutral{color:gray;}
